.icon {
    margin: 5px;
    padding: 5px;
    background-color:white;
    border-radius: 5px;
    color: whitesmoke;
    font-size: 20px;
  } 
 
  .icon:hover {
    background-color: rgb(250, 25, 25);
  }
  .footer-menu {
    list-style: none;
    margin-top: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .footer-menu:hover {
    color: red;
  }
  .footer-input {
    padding: 5px;
    border: none;
    outline: none;
    background-color: black;
  }
  .footer-container {
    background-color: black;
    padding: 50px;
    color: whitesmoke;
  }
  .foter-phone-icon {
    font-size: 30px;
    color: red;
  }

  .deep{
    font-weight: bolder;
  }

  @media only screen and (max-width:688px) {

    .container{
        grid-template-columns: repeat(1, 1fr);
    }


     
}
@media only screen and (max-width:689px) and (max-width:991px) {

    .container{
        grid-template-columns: repeat(2, 1fr);
    }

}
  